@use "responsive" as *;

.button {
  cursor: pointer;
  color: #fff;
  font-size: 16px;
  background-color: #da6b64;
  padding: 1em 1.5em;
  display: inline-block;
  border-radius: 25px;
  letter-spacing: 0.1em;
  @include responsive(lg) {
    font-size: 13px;
  }
  &-md {
    @extend .button;
    font-size: 20px;
    font-weight: 600;
  }
  &-lg {
    @extend .button;
    font-size: 24px;
    font-weight: 600;
    padding: 1.25em 1.5em;
  }
}