@use "reset";
@use "responsive" as *;

body {
  background-color: #fff;
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Gothic Pro", sans-serif;
}

a {
  color: #000;
  text-decoration: none;
}

.button {
  cursor: pointer;
  color: #fff;
  font-size: 16px;
  background-color: #da6b64;
  padding: 11px 40px;
  display: inline-block;
  border-radius: 25px;
  letter-spacing: 0.1em;
  @include responsive(lg) {
    font-size: 13px;
  }
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 16px;
}

.header {
  background-color: #fff; 
  padding: 16px 0;
  @include responsive(sm) {
    padding: 0;
  }
  .container {
    display: flex;
    align-items: center;
    @include responsive(sm) {
      padding-right: 0;
    }
  }
  &_logo {
    display: flex;
    align-items: flex-end;
    gap: 6px 12px;
    @include responsive(sm) {
      flex-direction: column-reverse;
      align-items: flex-start; 
    }
    img {
      height: 44.65px;
      width: 128px;
      @include responsive(sm) {
        height: 24px;
      }
    }
    p {
      font-size: 14px;
      font-weight: 600;
      @include responsive(lg) {
        font-size: 12px;
      }
    }
  }
  &_action {
    margin: 0 0 0 auto;
    .button {
      @include responsive(sm) {
        border-radius: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.5em;
        padding: 8px 12px;
        font-size: 12px;
      }
      img {
        width:28px;
        display: none;
        @include responsive(sm) {
          display: block;
        }
      }
      .pc {   
        @include responsive(sm) {
          display: none;
       }
     }
      .sp {
         display: none;
         @include responsive(sm) {
          display: block;
        }
      }
    }
  }
}


main{
 background-color: #fff;
}

.mainVisual {
  background-image: url(../images/main.jpg);
  background-size: cover;
  background-position: center center;
  background-color: #fff;
  padding: 80px 0;
  @include responsive(sm) {
    padding: 40px 0;
  }
  .container {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .title {
    font-size: 28px;
    font-weight: 600;
    line-height: 1.7em;
    letter-spacing: 0.1em;
    @include responsive(lg) {
      font-size: 20px;
    }
  }
  img {
    height: 80px;
    width: 317px;
    margin: 20px 0;
  }

  .text {
    font-size: 20px;
    font-weight: 600;
    line-height: 1.7em;
    letter-spacing: 0.1em;
    @include responsive(lg) {
      font-size: 14px;
    }
  }
  
  
  
}

footer {
  background-color: #fff;
}