@use "reset";
@use "responsive" as *;
@use "button" as *;

:root {
  --color_secondary: #ebb94d;
}

body {
  background-color: #fff;
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Gothic Pro", sans-serif;
}

a {
  color: #000;
  text-decoration: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 16px;
}

.header {
  background-color: #fff; 
  padding: 16px 0;
  @include responsive(sm) {
    padding: 0;
  }
  .container {
    display: flex;
    align-items: center;
    @include responsive(sm) {
      padding-right: 0;
    }
  }
  &_logo {
    display: flex;
    align-items: flex-end;
    gap: 6px 12px;
    @include responsive(sm) {
      flex-direction: column-reverse;
      align-items: flex-start; 
    }
    img {
      height: 44.65px;
      width: 128px;
      @include responsive(sm) {
        height: 24px;
      }
    }
    p {
      font-size: 14px;
      font-weight: 600;
      @include responsive(lg) {
        font-size: 12px;
      }
    }
  }
  &_action {
    margin: 0 0 0 auto;
    .button {
      @include responsive(sm) {
        border-radius: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.5em;
        padding: 8px 12px;
        font-size: 12px;
      }
      img {
        width:28px;
        display: none;
        @include responsive(sm) {
          display: block;
        }
      }
      .pc {   
        @include responsive(sm) {
          display: none;
       }
     }
      .sp {
         display: none;
         @include responsive(sm) {
          display: block;
        }
      }
    }
  }
}


main{
 background-color: #fff;
 > section {
  padding: 40px 0;
 }
}
 .section_title {
    font-size: 28px;
    font-weight: 600;
    text-align: center;
    line-height: 1.5;
    width: 100%;
    max-width: 800px;
    position: relative;
    padding: 1em 0;
    margin: 0 auto 1.5em;
    &::before,
    &::after {
      content: "";
      display: block;
      width: 40px;
      height: 40px;
      position: absolute;
      // inset: 0 auto auto 0;
      top: 0;
      left: 0;
    }
    &::before {
      border-top: 4px solid var(--color_secondary);
      border-left: 4px solid var(--color_secondary);
    }
    &::after {
      // right: 0;
      // bottom: 0;
      inset: auto 0 0 auto;
      border-right: 4px solid var(--color_secondary);
      border-bottom: 4px solid var(--color_secondary);
    } 
  }  


.mainVisual {
  background-image: url(../images/main.jpg);
  background-size: cover;
  background-position: center center;
  background-color: #fff;
  padding: 80px 0;
  @include responsive(sm) {
    padding: 40px 0;
  }
  .container {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .title {
    font-size: 28px;
    font-weight: 600;
    line-height: 1.7em;
    letter-spacing: 0.1em;
    @include responsive(lg) {
      font-size: 20px;
    }
  }
  img {
    height: 80px;
    width: 317px;
    margin: 20px 0;
  }

  .text {
    font-size: 20px;
    font-weight: 600;
    line-height: 1.7em;
    letter-spacing: 0.1em;
    @include responsive(lg) {
      font-size: 14px;
    }
  }
}


.conversion {
  background-color: var(--color_secondary);
  color: #fff;
  .container {
    text-align: center;
    display: flex;
    flex-direction:  column;
    align-items: center;
  }
  &_copy {
    font-size: 20px;
    font-weight: 600;
    line-height: 1.7;
  }
  &_attention {
    padding: 0.2em;
    font-size: 20px;
    font-weight: 600;
    color: #c7254e;
    background-color: #fff;
    border-radius: 4px;
    margin: 16px 0 0;
  }
  .button-lg {
    background-color: #d84940;
    width: 100%;
    max-width: 800px;
    margin: 20px 0;
  }
  &_info {
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0.1em;
    @include responsive(sm) {
      font-size: 16px;
    }
    & + & {
      margin: 20px 0 0;
    }
    span {
      @include responsive(sm) {
        display: block;
        margin: 0.5em 0 0;
      }
    }
  }
  &_sns {
    margin: 24px 0 0;
  }
}

.introduction {
  background-image: url(../images/introduction.jpg);
  padding-bottom: 160px;
  background-size: contain;
  background-position: center bottom;
  background-repeat: no-repeat;
  .container {
    text-align: center;
    display: flex; 
    flex-direction: column;
    align-items: center;
  }
  p {
    font-size: 18px;
    line-height: 1.7;
    z-index: 1;
    & + p {
      margin: 1.5em 0 0;
    }
    strong {
      font-weight: 600;
      font-size: 1.1em;
      display: inline-block;
      position: relative;
      &::before {
        content: "";
        display: block;
        width: 100%;
        height: 6px;
        background-color: var(--color_secondary);
        position: absolute;
        inset: auto auto 0 0;
        top: 20px;
        z-index: -1;
      }
    }
  }
}
  

footer {
  background-color: #fff;
}